.nav-link-wrapper {
  width: min-content;

  .nav-link {
    white-space: nowrap;
    top: 0.7rem;
    position: relative;
    z-index: 1;
    text-decoration: none;
    color: var(--text-colour);
    opacity: 0.7;
    transition: ease-in 0.2s;
    
    div {
      position: relative;
      height: 2px;
      width: 0;
      background-color: #293991;
      border-radius: 2px;
      transition: width ease-in 0.2s;
    }
  }


  .nav-link:hover div {
    width: 100%;
  }

  .nav-link:hover {
    opacity: 1;
  }
}